footer {
    background-color: #191919;
    padding: 40px 5%;
    clear: both;
}

footer .container {
    color: white;
}

footer i {
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px !important;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 20px;
    margin-top: 15px;
    transition: 1s;
}

footer i:hover {
    color: rgba(255, 0, 0, 0.7);
    transform: scale(1.1) rotate(45deg);
    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(255, 0, 0, 0.4);
}

footer h3 {
    text-align: right;
    margin-right: 20px;
}

footer a {
    color: #fff;
    transition: 0.5s;
}

footer a:hover {
    color: rgba(255, 0, 0, 0.7);
}

@media only screen and(max-width: 768px) {
    footer .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    
}