/* Header */
header {
    height: 10vh;
    line-height: 7vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
    color: #fff;
    position: relative;
    z-index: 999;
}

.logo img {
    height: 6vh;
    margin-top: 20px;
    margin-right: 30px;
    transition: 1s;
}

.logo img:hover {
    transform: scale(1.1) rotate(-45deg);
}

header a {
    color: #fff;
    margin-left: 30px;
    font-size: 2.5vh;
    font-weight: 500;
    padding: 0 5px;
    transition: 1s;
}

header ul a:hover {
    color: red;
}

header i {
  height: 5vh;
  width: 5vh;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 10px;
  transition: 1s;
}

header .signin:hover i {
    color: rgba(255, 0, 0, 0.7);
    transform: scale(1.1) rotate(45deg);
    box-shadow: 0.3vh 0.3vh 0.3vh 0.3vh rgba(255, 0, 0, 0.4);
}

header .signin:hover {
    color: red;
}

header form input {
    margin: 0;
    padding: 0;
    width: 40vh;
    height: 40px;
    padding-left: 2vh;
    border-radius: 20px;
}

header form input a {
    padding-left: 10px;
}

form div {
    padding: 0;
    margin: 0;
}

.results {
    top: 10vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
  }

  .navMenu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

.toggle {
    display: none;
}

.toggleLogin {
    display: none;
}

.active {
    color: red;
    text-decoration: underline;
}

.results a {
    margin: 0;
    padding: 0;
}

.movie {
    background-color: #323232;
    border: 2px solid #6f0006;
    padding: 1.5vh;
    border-radius: 10px;
    width: 40vh;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie:hover {
    background: linear-gradient(90deg, #1c1c1c 0%, #363535 50%, #4f4d4d 100%);
    border-color: red;
}

.movie:hover span {
    color: red;
}

.movie .icon {
    height: 8vh;
    width: 5vh;
    position: relative;
}

.movie .icon img {
    /* border: burlywood 2px solid; */
    border: #6f0006 2px solid;
    border-radius: 2vh;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.movie .title {
    flex: 1;
    font-size: 2.5vh;
    margin: 0 1vh;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

/* Responsive */
@media only screen and (max-width: 1140px) {
    header nav .flexSB {
        display: none;
    }

    .toggleLogin {
        display: block;
    }

    header .flexSB {
        justify-content: center;
    }

    header form {
        margin-right: 68px
    }

    .logginAccount {
        display: none;
    }

    .account {
        flex: 1;
    }

    header button {
        margin: auto;
        padding: 0;
        border: none;
        font: inherit;
        outline: none;
    }

    .navMenu-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
        width: 50%;
        height: 100vh;
        z-index: 999;
    }

    header ul li {
        margin-top: 30px;
        padding: 0 50px;
    }

    .toggle {
        flex: 1;
        line-height: 7vh;
        display: block;
        position: absolute;
        right: 5%;
        margin: auto;
        cursor: pointer;
        background: none;

    }

    .toggle i {
        color: #fff;
        font-size: 2.5vh;
    }
}

@media only screen and (max-width: 650px) {
    .account {
        display: none;
    }
}