* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #141414;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.container {
  max-width: 90%;
  margin: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* button {
  background-color: red;
  outline: none;
  border: none;
  color: #fff;
  padding: 12px 40px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
} */
